/* Universal Styles */

html {
   font-family: Roboto, sans-serif; 
   overflow-x: hidden;
   width: 100%;
}
strong {
    font-weight: bold;
}
.main-content {
    position: relative;
}
a {
    text-decoration: none;
}
h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 24px;
    word-spacing: .0125em;
    line-height: 1.25em;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 32px;
    line-height: 36px;
    margin: 24px;
}
h5 {
    font-size: 24px;
}
h6 {
    font-size: 12px;
}
.banner {
    width: 60%;
}
/* Header Section */
header {
width: 100%;
height: 32px;
padding: 16px 0;
position: fixed;
z-index: 100;
top: 0;
background-color: white;
}

.logo {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-decoration: none;
}
.logo img {
    float: left;
    margin-left: 24px;
}
.logo p {
    display: inline;
    vertical-align: center;
}
nav {
    float: right;
    line-height: 32px;
    display: flex;
    padding-right: 24px;
}
li {
    display: inline-block;
}

li a {
    color: black;
    margin-left: 16px;
}
span {
    color: gray;
}
strong {
    color: black;
}
@media only screen and (min-width:761px) {
    .mobile-header {
        display: none;
    }
}
/* Mobile Header */
@media only screen and (max-width: 760px) {
    .desktop-header {
        display: none;
    }
    .mobile-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

/* Sign Up Section */
.sign-up {
    background-color: rgba(128, 128, 128, 0.315);
    display: flex;
    padding: 32px 24px;
    margin-top: 64px;
    height: auto;
    align-items: center;
}
.sign-up .content {
    margin-left: 24px;
}
.button {
    background-color: black;
    color: white;
    padding: 16px;
    width: auto;
    margin: 24px;
    margin-top: 48px;
    text-align: center;
    font-size: 24px;
}
.button a {
    display: inline-block;
    width: 100%;
    color: white;
}
/* Tablet sign up section */
@media only screen and (min-width:761px) and (max-width:1060px) {
    h2 {
        font-size: 32px;
    }
    h4 {
        font-size: 16px;
    }
}
/* Mobile sign up section */
@media only screen and (max-width:760px) {
    .sign-up {
        display:block;
        padding: 0px;
    }
    .banner {
        width:100%;
        height: auto;
    }
    .sign-up h2 {
        margin: 0;
    }
    .sign-up h4 {
        margin: 32px 0 0;
    }
    .sign-up .content {
        padding: 32px 16px;
        margin-left: 0;
    }
    .sign-up .button {
        margin: 24px 0 0;
    }
}

/* Info Section */
.info {
    background-color: white;
    display: inline-flex;
    padding: 32px 24px;
    height: auto;
}
#info-banner {
    width: 100%;
}
.left-side {
    display: block;
    width: 60%;
}    
.left-side-content h3 {
    margin: 34px 0 24px;
}
.left-side-content h6 {
    margin-top: 34px;
}
.info h3 {
    font-weight: bold;
}
.info-features {
    width: 40%;
    border-left: 1px;
    margin-left: 24px;
}
.feature-box {
    display: flex;
}
.info-images {
    width: 35%;
    height: auto;
    padding: 16px;
}
#info-images-1 {
    padding-top: 0;
}
.feature-box-info {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feature-box-info h5 {
    margin: 8px 0;
}
.feature-box-info p {
    margin: 8px 0;
    line-height: 24px;
}
.feature-box-info a {
    margin: 8px 0;
    color: blue;
}

/* Learn Section */
.learn-section h3 {
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 32px;
    background-color: rgba(128, 128, 128, 0.315);
}
.learn-section p {
    line-height: 1.25em;
}
.learn-container {
    padding: 32px 72px 0;
    display: flex;
    flex-flow: wrap;
    justify-content:center; 
    width: auto;
    background-color: rgba(128, 128, 128, 0.315);
}
.learn-box {
    width: 25%;
    margin: 0 16px 32px;
    background-color: white;
}
.learn-box-text {
    padding: 16px 16px 24px;
}
.learn-box img {
    height: auto;
    width: 100%;
}
.learn-box h5 {
    margin-bottom: 24px;
}
.learn-box p {
    margin-top: 8px;
}

/* Thesis Section */
.thesis-section h3 {
    font-weight: bold;
    text-align: center;
    margin: 32px;
}
.thesis-content {
    display: inline-flex;
}
.thesis-left-side {
    width: 60%;
    margin: 0 24px 32px;
}
.thesis-left-side h5 {
    margin-bottom: 8px;
}
.thesis-content video {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}
.thesis-right-side {
    display: block;
    width: 40%;
}
.thesis-right-side img {
    width: 35%;
    height: auto;
    margin: 16px;
}
.right-side-box {
    display: flex;
}
.right-side-box-content {
    width: 65%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-right: 1em;
}
.right-side-box-content h5 {
    margin-bottom: 16px;
    line-height: 1.25em;
}

/* footer section */
.footer {
    border-top: solid 1px rgba(128, 128, 128, 0.315);
    border-width: 100%;
    padding: 16px 24px 48px;
}
.footer-left {
    float: left;
}
.footer-right {
    font-size: 12px;
    float: right;
}


